{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "semi": "error",
      "import/no-extraneous-dependencies": "pass",
      "linebreak-style": 0,
  }
}